<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <!-- 通过EnvironmentLoaderListener读取classpath中的shiro.ini文件，并加载其中的相关配置到内存中，以便ShiroFilter可随时获取。
     当从客户端发送请求时，该请求将被ShiroFilter拦截，获取请求中的URL与shiro.ini文件中的相关配置进行比较。一般情况下，我们需要拦截
     所有的请求，因此需要通过 /* 进行拦截。
     -->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



</web-app>